@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@neocomplexx/ngx-neo-components-mat/styles/_main.scss';
@import 'material';
@import 'dashboard';

body {
  font-family: 'Gill Sans Regular' !important;
  overflow-x: hidden;
  background-color: #f9f9f9;;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans Bold' !important;
}

.modal {
  overscroll-behavior-y: contain;
}

a {
  cursor: pointer;
}

.lg-logo {
  height: 24px;
}

.neo-layour{
  bottom: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
