$stl-color-background: #fdfdfd;
$stl-color-font: #2c2c2c;

$stl-color-sidenav: white;
$stl-color-font-sidenav: white;

$stl-color-navbar: #004a61;
$stl-color-font-navbar: white;

$stl-color-footer: #004a61;
$stl-color-font-footer: white;

$stl-color-primary:  #004a61;
$stl-color-secondary: #505e63;
$stl-color-warning: #c5eb6d;
$stl-color-danger: #982828;