<div class="d-flex align-items-stretch flex-grow-1 grid-container">
    <mat-grid-list cols="3" rowHeight="fit" class="h-100" gutterSize="2rem">
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            Bienvenido
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            Vacaciones ¿component?
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2>
            Ausencia compoennt
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2>
            Entregas component
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            Adelantos component
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1>
            Eventos component
        </mat-grid-tile>
    </mat-grid-list>
</div>