<div class="modal-header">
  <label class="modal-title">Cambiar contraseña </label> <!-- de {{this.userRefreshPasswordModel.fullName}}-->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 form-group">
      <label> Contraseña actual </label>
      <input #contrasenia type="password" class="form-control" [minLength]='4' [maxLength]='20' [neoAutofocus]="true"
        placeholder="Contraseña actual" [(ngModel)]="userRefreshPasswordModel.OldPassword" [onReturn]="[newPassword]"
        required>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group" [class.has-success]="userRefreshPasswordModel.correctPasswordValidation"
      [class.has-danger]="userRefreshPasswordModel.failedPasswordValidation">
      <label> Nueva contraseña </label>
      <input #newPassword type="password" class="form-control" [minLength]='4' [maxLength]='20'
        [class.form-control-success]="userRefreshPasswordModel.correctPasswordValidation" [class.form-control-danger]="userRefreshPasswordModel.failedPasswordValidation"
        placeholder="Nueva contraseña" [(ngModel)]="userRefreshPasswordModel.Password" required>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group" [class.has-success]="userRefreshPasswordModel.correctPasswordValidation"
      [class.has-danger]="userRefreshPasswordModel.failedPasswordValidation">
      <label> Repetir nueva contraseña </label>
      <input #contrasenia type="password" class="form-control" [minLength]='4' [maxLength]='20'
        [class.form-control-success]="userRefreshPasswordModel.correctPasswordValidation" [class.form-control-danger]="userRefreshPasswordModel.failedPasswordValidation"
        placeholder="Repetir nueva contraseña" [(ngModel)]="userRefreshPasswordModel.repeatPassword" [onReturn]="[accept]"
        required>
      <div *ngIf="showPasswordError && userRefreshPasswordModel.repeatPassword !== userRefreshPasswordModel.Password" class="invalid-feedback d-block">
        Las contraseñas no coinciden
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button #blanquearClave class="btn btn-primary" [command]="blanquearClaveCmd">Reiniciar contraseña</button>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" [command]="cancelarCmd"> Cancelar </button>
    <button #accept type="button" class="btn btn-primary" [command]="aceptarCmd">Aceptar</button>
</div>
